{% extends 'base.html' %}
{% block nav %}


{% endblock %}


{% block content %}

    <br>
        <h1 class="text-center text-capitalize fs-1 m-4">WELCOME TO SHOP</h1>
        <hr>
        {% for product in products %}
            <div class="card text-center  my-5 ">
              <div class="card-header text-light bg-dark ">
                Category:  '{{ product.category }}'
              </div>
              <div class="card-body bg-secondary-subtle">
                <h5 class="card-title fs-5">Item: {{ product.title }}</h5>

                <a href="{% url 'view' product.id %}" class="btn btn-primary">Detailed</a>       {% include 'partial/cart_item.html' %}

              </div>
              <div class="card-footer bg-dark text-muted fs-4 ">
                Price: {{ product.price }} kgs
              </div>
            </div>


        {% endfor %}





{% endblock %}